<h1>Editer un étudiant</h1>
<form >
    <input name="nom" [(ngModel)]="profiletudiant.nom"  placeholder="Nom" type="text" #ctlNom="ngModel" required minlength="4"> 
    <span *ngIf="ctlNom.invalid">Merci de saisir un nom de au moins 4 caractères</span>
    <span *ngIf="ctlNom.valid">Nom correct</span>
    <input name="prenom" [(ngModel)]="profiletudiant.prenom"  placeholder="Prénom" type="text" required>
    <input name="mail" [(ngModel)]="profiletudiant.mail"  placeholder="Email" type="email" required>
    <input name="promo" [(ngModel)]="profiletudiant.promo"  placeholder="Promotion" type="text" required>
    
</form>

<button (click)="majEtudiant()" >Mettre à jour</button>
<button (click)="annulerMaj()" >Annuler</button>

