/* You can add global styles to this file, and also import other style files */
h1,h2,h3,p{
    text-align: center;
}

input.ng-valid {
    border-bottom: 1px solid green;
}

input.ng-invalid {
    border-bottom: 1px solid red;
}

input.ng-pristine {
    border-style: double;
}

input.ng-dirty {
    border-style: dashed;
}